In [1]:
import pandas as pd

In [163]:
df_mca=pd.read_csv('marketing_customer_analysis.csv')
display(DF_MCA)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,Suburban,Married,253,NaN,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,Urban,Married,65,7.0,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,Married,201,11.0,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,Urban,Divorced,158,0.0,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,Suburban,Single,101,31.0,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [164]:
df_mca.shape

(10910, 26)

In [165]:
cols=[]
for column in df_mca.columns:
    cols.append(column.lower())
df_mca.columns=cols
display(df_mca)

,unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,Suburban,Married,253,NaN,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,Urban,Married,65,7.0,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,Married,201,11.0,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,Urban,Divorced,158,0.0,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,Suburban,Single,101,31.0,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [166]:
df_mca.columns

Index(['unnamed: 0', 'customer', 'state', 'customer lifetime value',
       'response', 'coverage', 'education', 'effective to date',
       'employmentstatus', 'gender', 'income', 'location code',
       'marital status', 'monthly premium auto', 'months since last claim',
       'months since policy inception', 'number of open complaints',
       'number of policies', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'total claim amount', 'vehicle class', 'vehicle size',
       'vehicle type'],
      dtype='object')

In [170]:
df_mca=df_mca.drop(['unnamed: 0'],axis=1) # DROP UNAMED COLUMN

In [171]:
pd.set_option('display.max_columns', None) # TO DISPLAY ALL COLUMNS
display(df_mca)

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,Suburban,Married,253,NaN,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,Urban,Married,65,7.0,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,Married,201,11.0,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,Urban,Divorced,158,0.0,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,Suburban,Single,101,31.0,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [172]:
display(df_mca.isna().sum())
print(df_mca.shape)
display(df_mca.columns)

customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

(10910, 25)

Index(['customer', 'state', 'customer lifetime value', 'response', 'coverage',
       'education', 'effective to date', 'employmentstatus', 'gender',
       'income', 'location code', 'marital status', 'monthly premium auto',
       'months since last claim', 'months since policy inception',
       'number of open complaints', 'number of policies', 'policy type',
       'policy', 'renew offer type', 'sales channel', 'total claim amount',
       'vehicle class', 'vehicle size', 'vehicle type'],
      dtype='object')

In [173]:
percentnull=pd.DataFrame(df_mca.isna().sum()/len(df_mca))*100
percentnull.reset_index()
percentnull.columns=['null %']
display(percentnull)

                                  null %
customer                        0.000000
state                           5.783685
customer lifetime value         0.000000
response                        5.783685
coverage                        0.000000
education                       0.000000
effective to date               0.000000
employmentstatus                0.000000
gender                          0.000000
income                          0.000000
location code                   0.000000
marital status                  0.000000
monthly premium auto            0.000000
months since last claim         5.802016
months since policy inception   0.000000
number of open complaints       5.802016
number of policies              0.000000
policy type                     0.000000
policy                          0.000000
renew offer type                0.000000
sales channel                   0.000000
total claim amount              0.000000
vehicle class                   5.701192
vehicle size                    5.701192
vehicle type                   50.247479

In [174]:
#display(df_mca[df_mca['customer lifetime value'].sum])
tot_CLF=(df_mca['customer lifetime value'].sum())
display(tot_CLF)

87479010.33252001

In [175]:
MSLC_nullrec=pd.DataFrame(df_mca[df_mca['months since last claim'].isna()==True])
MSLC_nullrec_CLF=MSLC_nullrec['customer lifetime value'].sum()
display(MSLC_nullrec_CLF)
MSLC_nullrec_CLF_cont=(MSLC_nullrec_CLF/tot_CLF)*100
print(MSLC_nullrec_CLF_cont)

4949527.637308

5.65796025640225

In [176]:
NOOC_nullrec=pd.DataFrame(df_mca[df_mca['number of open complaints'].isna()==True])
NOOC_nullrec_CLF=NOOC_nullrec['customer lifetime value'].sum()
display(NOOC_nullrec_CLF)
NOOC_nullrec_CLF_cont=(NOOC_nullrec_CLF/tot_CLF)*100
print(NOOC_nullrec_CLF_cont)

4949527.637308

5.65796025640225

In [177]:

st_nullrec=pd.DataFrame(df_mca[df_mca['state'].isna()==True])
st_nullrec_CLF=st_nullrec['customer lifetime value'].sum()
display(st_nullrec_CLF)
st_nullrec_CLF_cont=(st_nullrec_CLF/tot_CLF)*100
print(st_nullrec_CLF_cont)

4946565.291654

5.654573906187794

In [178]:
#df_mca[df_mca['state'].isna()==True] # FOR ANALYSIS

In [179]:
#df_mca[df_mca['months since last claim'].isna()==True] # FOR ANALYSIS

In [180]:
display(df_mca['marital status'].unique())
display(df_mca['state'].unique())
display(df_mca['employmentstatus'].unique())
display(df_mca['gender'].unique())
display(df_mca['education'].unique())
display(df_mca['policy type'].unique())
#display(df_mca['vehicle type'].unique()) # COULD BE EVEN DROPED GIVE THE USELESS VALUE OF 'A' OR 'NAN'
display(df_mca['vehicle class'].unique())
display(df_mca['vehicle size'].unique())
display(df_mca['response'].unique())

array(['Married', 'Single', 'Divorced'], dtype=object)

array(['Arizona', 'California', 'Washington', 'Oregon', nan, 'Nevada'],
      dtype=object)

array(['Employed', 'Unemployed', 'Medical Leave', 'Disabled', 'Retired'],
      dtype=object)

array(['M', 'F'], dtype=object)

array(['College', 'Bachelor', 'High School or Below', 'Doctor', 'Master'],
      dtype=object)

array(['Corporate Auto', 'Personal Auto', 'Special Auto'], dtype=object)

array(['Four-Door Car', 'SUV', 'Two-Door Car', 'Sports Car', 'Luxury Car',
       'Luxury SUV', nan], dtype=object)

array(['Medsize', 'Small', 'Large', nan], dtype=object)

array(['No', 'Yes', nan], dtype=object)

In [184]:
display(df_mca['state'].value_counts())

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: state, dtype: int64

    Given the contribution of the missing rows in the respective column labels to the customer lifetiem value of > 5 % or the contribution to the total number of records likethe car type ( 50%), and given we have no null client ID data ( client can be identified) and all Client life contribution data are inplace, it is deemed better NOT TO DROP ANY ROWS.THE NULL VALUES ARE FILLED UP WITH TBD  where it makes sense to reflect capturing of the data in categorical columns in case data is made availabe in the future. Null values in 'months since last claim' will use the mean of the data and'number of open complaints' will be set to 0. This will allow to calculate performance of a state for instance without biasing the data. Response null values will be set to '0'(0 as a string to avoid mixing data types) for easy comparison and to run the model without failures. we can attempt to populate the missing vaues for state by multiple loops in ranges equivalent to the weights of California, oregon and Arizona given they make up most of the date. However for now, the null values will be set to TO BE DETERMINED 'TBD' given the client ID is available.

In [185]:
df_mca['state'] = df_mca['state'].fillna('TBD')

In [186]:
df_mca['response'] = df_mca['response'].fillna('0')

In [187]:
import numpy as np
mean_months_since_last_claim = df_mca['months since last claim'].mean()
df_mca['months since last claim'] = df_mca['months since last claim'].fillna(mean_months_since_last_claim)

In [188]:
df_mca['number of open complaints'] = df_mca['number of open complaints'].fillna(0)

In [189]:
df_mca['vehicle class'] = df_mca['vehicle class'].fillna('TBD')

In [190]:
df_mca['vehicle size'] = df_mca['vehicle size'].fillna('TBD')

In [191]:
df_mca['vehicle type'] = df_mca['vehicle type'].fillna('TBD')

In [192]:
display (df_mca.info())
df_mca._get_numeric_data()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       10910 non-null  object
 1   state                          10910 non-null  object
 2   customer lifetime value        10910 non-null  float64
 3   response                       10910 non-null  object
 4   coverage                       10910 non-null  object
 5   education                      10910 non-null  object
 6   effective to date              10910 non-null  object
 7   employmentstatus               10910 non-null  object
 8   gender                         10910 non-null  object
 9   income                         10910 non-null  int64
 10  location code                  10910 non-null  object
 11  marital status                 10910 non-null  object
 12  monthly premium auto           10910 non-null  int64
 13  months since last claim        10910 non-null  float64
 14  months since policy inception  10910 non-null  int64
 15  number of open complaints      10910 non-null  float64
 16  number of policies             10910 non-null  int64
 17  policy type                    10910 non-null  object
 18  policy                         10910 non-null  object
 19  renew offer type               10910 non-null  object
 20  sales channel                  10910 non-null  object
 21  total claim amount             10910 non-null  float64
 22  vehicle class                  10910 non-null  object
 23  vehicle size                   10910 non-null  object
 24  vehicle type                   10910 non-null  object
dtypes: float64(4), int64(4), object(17)
memory usage: 2.1+ MB

None

,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,4809.216960,48029,61,7.000000,52,0.0,9,292.800000
1,2228.525238,0,64,3.000000,26,0.0,1,744.924331
2,14947.917300,22139,100,34.000000,31,0.0,2,480.000000
3,22332.439460,49078,97,10.000000,3,0.0,2,484.013411
4,9025.067525,23675,117,15.149071,31,0.0,7,707.925645
...,...,...,...,...,...,...,...,...
10905,15563.369440,0,253,15.149071,40,0.0,7,1214.400000
10906,5259.444853,61146,65,7.000000,68,0.0,6,273.018929
10907,23893.304100,39837,201,11.000000,63,0.0,2,381.306996
10908,11971.977650,64195,158,0.000000,27,4.0,6,618.288849
10909,6857.519928,0,101,31.000000,1,0.0,3,1021.719397

In [183]:
df_mca.select_dtypes(['object'])

,customer,state,response,coverage,education,effective to date,employmentstatus,gender,location code,marital status,policy type,policy,renew offer type,sales channel,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,NaN
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,No,Premium,Bachelor,1/19/11,Unemployed,F,Suburban,Married,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize,A
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10907,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize,NaN
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A
10909,IV32877,NaN,NaN,Basic,Bachelor,1/8/11,Unemployed,M,Suburban,Single,Personal Auto,Personal L1,Offer4,Web,SUV,Medsize,NaN

In [ ]:
# extract date

In [197]:
df_mca['effective to date'] = pd.to_datetime(df_mca['effective to date'], errors='coerce') # CHANGES 'effective to date' FROM OBJECT TO datetime64[ns]
df_mca.dtypes

customer                                 object
state                                    object
customer lifetime value                 float64
response                                 object
coverage                                 object
education                                object
effective to date                datetime64[ns]
employmentstatus                         object
gender                                   object
income                                    int64
location code                            object
marital status                           object
monthly premium auto                      int64
months since last claim                 float64
months since policy inception             int64
number of open complaints               float64
number of policies                        int64
policy type                              object
policy                                   object
renew offer type                         object
sales channel                            object
total claim amount                      float64
vehicle class                            object
vehicle size                             object
vehicle type                             object
dtype: object

In [216]:
#df_mca['effective to date'][0].day # THE [0] IS FOR ROW 1
print (df_mca['effective to date'][10900].month) # for first rows # just checking

2

In [207]:
df_mca['eff to date months']=pd.DatetimeIndex(df_mca['effective to date']).month # extracting the months for all rows. 
display (df_mca.head())

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,eff to date months
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.000000,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,TBD,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,Single,64,3.000000,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,TBD,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.000000,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.000000,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,Suburban,Married,117,15.149071,31,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,TBD,1

In [209]:
df_mca.dtypes

customer                                 object
state                                    object
customer lifetime value                 float64
response                                 object
coverage                                 object
education                                object
effective to date                datetime64[ns]
employmentstatus                         object
gender                                   object
income                                    int64
location code                            object
marital status                           object
monthly premium auto                      int64
months since last claim                 float64
months since policy inception             int64
number of open complaints               float64
number of policies                        int64
policy type                              object
policy                                   object
renew offer type                         object
sales channel                            object
total claim amount                      float64
vehicle class                            object
vehicle size                             object
vehicle type                             object
eff to date months                        int64
dtype: object

In [222]:
df_mca['eff to date months'].unique()
df_mca[df_mca['eff to date months']<=3] # filters out data for the first 3 months (jan=1 to March=3). NO March data!

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,location code,marital status,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type,eff to date months
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.000000,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,TBD,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,Single,64,3.000000,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,TBD,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.000000,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.000000,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,Suburban,Married,117,15.149071,31,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,TBD,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,Suburban,Married,253,15.149071,40,0.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,Urban,Married,65,7.000000,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,Rural,Married,201,11.000000,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,TBD,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,Urban,Divorced,158,0.000000,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,TBD,6857.519928,0,Basic,Bachelor,2011-01-08,Unemployed,M,0,Suburban,Single,101,31.000000,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,TBD,1